---
import Header from '../sections/Header';
import Footer from '../sections/Footer';
import jsonData from "../data/spanish.json";

interface Props {
	title: string;
}

const { title } = Astro.props;

const {headerData, footerData, meta} = jsonData;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={meta.description} />
		<meta name="keywords" content={meta.keywords} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{meta.title} - Centro de Fisioterapia en Cali y Buga</title>

		<!-- Open Graph meta tags for better social sharing -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{title} - Centro de Fisioterapia en Cali y Buga" />
		<meta property="og:description" content={meta.description} />
		<meta property="og:image" content="/path/to/your-image.jpg" />
		<meta property="og:url" content="https://www.creaencomunidad.com" />

		<!-- Twitter Card meta tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="{title} - Centro de Fisioterapia en Cali y Buga" />
		<meta name="twitter:description" content={meta.description} />
		<meta name="twitter:image" content="/path/to/your-image.jpg" />

		<!-- Schema Markup JSON-LD -->
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "MedicalOrganization",
			"name": "C.Re.A - Centro Fisioterapéutico",
			"logo": "https://www.creaencomunidad.com/logo.png",
			"url": "https://www.creaencomunidad.com",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "Cra. 29a #9-51",
				"addressLocality": "Cali",
				"addressRegion": "Valle del Cauca",
				"postalCode": "472",
				"addressCountry": "CO"
			},
			"contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+57 316 781 3601",
				"contactType": "Customer Service"
			}
		}
		</script>
	</head>
	<body class="flex-container">
		<Header client:load data={headerData} />

		<main class="main-content flex-grow">
			<slot />
		</main>

		<Footer data={footerData} />
	</body>
</html>


<style is:global>
		@font-face {
		font-family: 'Nomixa';
		src: url('/fonts/Nomixa-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Raleway';
		src: url('/fonts/Raleway-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	:root {
		--title-font: 'Nomixa';
    	--normal-text-font: 'Raleway';
    	--background-color: #ffffff; 

		/* Corporate Colors*/ 
		--crea-dark-blue: #003f88;
		--crea-light-blue: #0593c0;
		--crea-dark-white: #eef4ff;
		--crea-orange: #fc8301;
		--crea-black: #191919;
	}

	html {
		font-family: var(--normal-text-font);
		background: var(--background-color);
		box-sizing: border-box; 
	}

	h2 {
      font-size: 42px;
      font-weight: bold;
    }

	h3 {
		font-size: 36px;
		font-weight: bold;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding: 0; /* Reset padding */
		margin: 0; /* Reset margin */
	}

	/* Title Styles */
	.title-font {
		font-family: var(--title-font);
	}

	/* Normal Text Styles (already applied to html, but adding for clarity) */
	.text-font {
		font-family: var(--normal-text-font);
	}

	.blue-background {
		background: var(--crea-light-blue);
	}

	.white-text {
		color: var(--crea-dark-white);
	}

	.black-text {
		color: var(--crea-black);
	}

	.crea-dark-blue-text {
		color: var(--crea-dark-blue);
	}

	.header-container,
	.footer-container {
		flex-shrink: 0; /* Ensure these don't shrink */
	}

	.offcanvas-container {
		display: none
	}

	.header-container {
		background-color: var(--crea-light-blue); /* Example background, adjust as needed */
		color: var(--crea-dark-white); /* Example text color, adjust as needed */

		height: 70px;

		.header-nav {
			justify-content: space-around;
		}
		.header-sections {
			display:flex
		}
	}

	.footer-container {
		background-color: var(--crea-light-blue);
		color: white;
		padding: "4px 0px";
		display: flex;

		.footer-social-label {
			padding-left: 5px;
			font-size: 20px;
		}

	}

	.main-content {
		flex-grow: 1;
		display: block; /* Ensure it's a block for content flow */
				color: white;
		font-size: 20px;
		line-height: 1.6;

	}

	.footer-container {
		background-color: var(--crea-light-blue); /* Example background, adjust as needed */
		color: var(--crea-dark-white); /* Example text color, adjust as needed */
		padding: 1rem; /* Added padding for content spacing */

		height: 70px;
	}

	/* Media Queries for Responsiveness */


	@media (max-width: 1030px) { 
		.footer-container {
			.footer-social-label {
				display: none;
			}
		}
	}


	@media (max-width: 768px) { 
		.header-container {
			.header-nav {
			justify-content: space-between;
		}
			.header-sections {
				display: none;
			}
		}

		.offcanvas-container {
			display: flex;
		}
	}

	

</style>